body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding:3;
}
header{
    background-color:purple;
    color:blueviolet;
    padding:1em;
    text-align:center;

}
